body{
    background-color: #483D8B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}
a{
    color: white;
}
.wrap{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    width: 70%;
    margin: auto;
grid-auto-rows: minmax(60px, auto);
    grid-gap: 1em;
    padding: 2em;
    

}
span{
    font-size: 46px;
    font-weight: bold;
    font-family: sans-serif;
}
.one {
  
grid-column: 1;
   
  
}
.one img{
  width: 100%;
    height: 250px;
    
}

.one .ph{
    position: absolute;
    top: 100px;
color: white;
text-align: center;

}
.two{
background-color: #DC143C;
padding-left: 0.5em;
padding-top: 1em;
color: white;


}
.three{
    background-color: #DAA520;
    padding-left: 1em;  
    color: white;
    
}
.three p{
    text-align: center;
}
.assessment{
    font-size: 22px;
    background-color: rgb(152, 152, 219);
    padding: 0em 1em 1em 1em;

}

.assessment h1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.last{
    color: black;
    grid-column: 2/4;  
    background-color: rgb(218, 218, 218);
    line-height: 0%;
   font-weight: bold;
}
.loc   {
 
 display: flex;

}
.cat{
    display: flex;
}
.assessment .title{
    font-size: 20px;
    word-spacing: 6cm;
    line-height: 1px;
}
.assessment .wei{
    font-size: 20px;
    word-spacing: 1cm;
    line-height: 1px;
}
.assessment .second{
    font-size: 15px;
 
    
}